*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,
body {
  font-size: 62.5%; /* 16px * 0.625 = 10px (сбрасываем дефолтный размер шрифта в браузере до 10px); тогда 1rem = 10px; */
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 113.5rem; /* 1135px / 10 = 113.5rem */
  margin: 0 auto;
}

.header {
  position: absolute;
  padding-bottom: 6.4rem;
  left: 50%;
  top: 6.4rem;
  transform: translate(-50%, 0);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 114%;
}

.header__nav a:not(:last-child) {
  margin-right: 2.4rem;
}

.header__socials-icon {
  width: 1.7rem;
  height: 1.6rem;
}

.header__socials-icon:not(:last-child) {
  margin-right: 2rem;
}

.main {
  padding-top: 18.7rem;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.main__rating {
  margin-bottom: 1rem;
}

.main__rating-title {
  font-size: 1.4rem;
  line-height: 114%;
  margin-bottom: 1.6rem;
}

.main__rating-wrap {
  display: flex;
  align-items: center;
}

.main__rating-stars {
  display: flex;
  align-items: center;
  margin-right: .9rem;
}

.main__rating-star {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  cursor: pointer;
}

.main__rating-star:not(:last-child) {
  margin-right: .4rem;
}

.main__rating-number {
  font-size: 1.2rem;
  line-height: 117%;
}

.main__header {
  font-family: 'Museo Sans';
  font-size: 7.6rem;
  line-height: 120%;
}

.main__description {
  max-width: 52.8rem;
  margin-bottom: 4.1rem;
  font-size: 1.4rem;
  line-height: 150%;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24.5rem;
  padding: 2.2rem 7.2rem;
  margin-bottom: 8.8rem;
  font-size: 1.4rem;
  line-height: 114%;
  color: #fff;
  text-decoration: none;
  background-color: #151515;
  border-radius: .8rem;

}

.footer {
  background: #030102;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  padding-left: 0;
}

.footer__menu li {
  list-style: none;
}

.footer__menu li a {
  color: #686767;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 143%;
}

.footer__menu li:not(:last-child) {
  margin-right: 2.5rem;
}

.footer__copy {
  color: #686767;
  font-size: 1.4rem;
  line-height: 143%;
}
